body {
    margin: 30px;
    background-color:peru;
}
.header {
    font-size: 3rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color:white;
    margin: 30px;

}


.navbar {
    margin: 30px;
    background-color: white;
}


.my-footer{
    text-align: center;
    background: white;
    margin: 30px;
}



